<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bugün ne oldu? - Anasayfa</title>
    <link rel="stylesheet" href="../assets/css/pages/index.min.css">
</head>

<body>
    <div class="container">
        <div class="mega-menu">
            <div class="wrapper">
                <ul class="list">
                    <li><a href="#">Anasayfa</a></li>
                    <li><a href="#">Gündem</a></li>
                    <li><a href="#">Ekonomi</a></li>
                    <li><a href="#">Spor</a></li>
                    <li><a href="#">Magazin</a></li>
                    <li class="active"><a href="#">Dünya</a></li>
                    <li><a href="#">Teknoloji</a></li>
                    <li><a href="#">Sağlık</a></li>
                </ul>
            </div>

            <div class="foot">
                <div class="social-icons">
                    <img src="../assets/images/icons/white/facebook.svg" alt="">
                    <img src="../assets/images/icons/white/twitter.svg" alt="">
                    <img src="../assets/images/icons/white/linkedin.svg" alt="">
                </div>
                <div class="copyright">
                    Copyright © 2017 - Tüm hakları saklıdır. <br> Habertürk Gazetecilik A.Ş.
                </div>
            </div>
        </div>

        <div class="menu">
            <div class="red-space">
                <div class="logo">
                    <a href="./index.html"><img src="../assets/images/logo/white/haberturk.svg" alt=""></a>
                </div>
            </div>
            <span class="white-space">
                <span class="icon">
                    <i class="lines">
                        <span class="left_S"></span>
                        <span class="right_S"></span>
                    </i>
                </span>
                <div class="point"></div>
            </span>
        </div>

        <div class="wrapper">
            <div class="main-left">
                <div class="featured">
                    <div class="date">26.05.2017</div>
                    <div class="title">Bugün ne oldu?</div>
                    <div class="description">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text...
                    </div>
                    <div class="show-button">
                        <span class="icon">
                            <i class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </i>
                        </span>
                        <a href="./news-list.html" title="">GÖRÜNTÜLE</a>
                    </div>
                </div>
                <div class="copyright">
                    Copyright © 2017 - Tüm hakları saklıdır. <br> Habertürk Gazetecilik A.Ş.
                </div>
            </div>

            <div class="main-right">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <!-- Items-->
                        <div class="swiper-slide">
                            <div class="featured">
                                <div class="number">01</div>
                                <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                            </div>
                        </div>
                        <!-- Items-->
                        <div class="swiper-slide">
                            <div class="featured">
                                <div class="number">02</div>
                                <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                            </div>
                        </div>
                        <!-- Items-->
                        <div class="swiper-slide">
                            <div class="featured">
                                <div class="number">03</div>
                                <div class="description">Duis feugiat ligula dapibus sapien consequat, quis auctor</div>
                            </div>
                        </div>
                        <!-- Items-->
                        <div class="swiper-slide">
                            <div class="featured">
                                <div class="number">04</div>
                                <div class="description">Maecenas cursos lacus ultrices venenatis sodales.</div>
                            </div>
                        </div>
                        <!-- Items-->
                        <div class="swiper-slide">
                            <div class="featured">
                                <div class="number">05</div>
                                <div class="description">Morbi facilisis leo id eros sodales, id varius magna pellentesque.</div>
                            </div>
                        </div>
                        <!-- Items-->
                        <div class="swiper-slide">
                            <div class="featured">
                                <div class="number">06</div>
                                <div class="description">Suspendisse faucibus magna sit amet magna fringilla dapibus.</div>
                            </div>
                        </div>
                        <!-- Items-->
                        <div class="swiper-slide">
                            <div class="featured">
                                <div class="number">07</div>
                                <div class="description">Pellentesque a mi non erat imperdiet bibendum porta sed mi.</div>
                            </div>
                        </div>
                        <!-- Items-->
                        <div class="swiper-slide">
                            <div class="featured">
                                <div class="number">08</div>
                                <div class="description">Nulla gravida nunc et risus placerat, vitae fermentum enim</div>
                            </div>
                        </div>
                        <!-- Items-->
                        <div class="swiper-slide">
                            <div class="featured">
                                <div class="number">09</div>
                                <div class="description">Nulla nec nisi a augue vehicula viverra non nec diam.</div>
                            </div>
                        </div>
                        <!-- Items-->
                        <div class="swiper-slide">
                            <div class="featured">
                                <div class="number">10</div>
                                <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../assets/js/vendors/swiper/swiper-7.3.1.min.js"></script>
    <script src="../assets/js/pages/index.min.js"></script>
</body>

</html>