<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bugün ne oldu? - Haber Listesi</title>
    <link rel="stylesheet" href="../assets/css/pages/news-list.min.css">
</head>

<body>
    <div class="container">
        <div class="mega-menu">
            <div class="wrapper">
                <ul class="list">
                    <li><a href="#">Anasayfa</a></li>
                    <li><a href="#">Gündem</a></li>
                    <li><a href="#">Ekonomi</a></li>
                    <li><a href="#">Spor</a></li>
                    <li><a href="#">Magazin</a></li>
                    <li class="active"><a href="#">Dünya</a></li>
                    <li><a href="#">Teknoloji</a></li>
                    <li><a href="#">Sağlık</a></li>
                </ul>
            </div>

            <div class="foot">
                <div class="social-icons">
                    <img src="../assets/images/icons/white/facebook.svg" alt="">
                    <img src="../assets/images/icons/white/twitter.svg" alt="">
                    <img src="../assets/images/icons/white/linkedin.svg" alt="">
                </div>
                <div class="copyright">
                    Copyright © 2017 - Tüm hakları saklıdır. <br> Habertürk Gazetecilik A.Ş.
                </div>
            </div>
        </div>

        <div class="menu">
            <div class="red-space">
                <div class="logo">
                    <a href="./index.html"><img src="../assets/images/logo/white/haberturk.svg" alt=""></a>
                </div>
            </div>    
            <span class="white-space">
                <span class="icon" >
                    <i class="lines">
                        <span class="left_S"></span>
                        <span class="right_S"></span>
                    </i>
                </span>
                <div class="point"></div>
            </span>
        </div>

        <div class="wrapper">
            <div class="main">
                <div class="featured">
                    <div class="date">26.05.2017</div>
                    <div class="title">Bugün ne oldu?</div>
                    <div class="description">
                        "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text...
                    </div>
                </div>
                <div class="copyright">
                    Copyright © 2017 - Tüm hakları saklıdır. <br> Habertürk Gazetecilik A.Ş.
                </div>
            </div>

            <div class="news-list">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <!-- item -->
                        <div class="swiper-slide">
                            <span class="number">01</span>
                            <div class="featured">
                                <div class="date">3 Saat Önce</div>
                                <div class="title">Lorem Ipsum is simply dummy text of the print and typesetting</div>
                                <div class="img">
                                    <img src="../assets/images/dummy/16x9/11.png" alt="">
                                </div>
                                <div class="description">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC...</div>
                                <a class="btn" href="./news-detail.html">DETAY</a>
                                <a class="btn-up" href="./news-list.html"> Başa Dön</a>
                            </div>
                        </div>
                        <!-- item -->
                        <div class="swiper-slide">
                            <span class="number">02</span>
                            <div class="featured">
                                <div class="date">3 Saat Önce</div>
                                <div class="title">Lorem Ipsum is simply dummy text of the print and typesetting</div>
                                <div class="img">
                                    <img src="../assets/images/dummy/16x9/12.png" alt="">
                                </div>
                                <div class="description">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC...</div>
                                <a class="btn" href="./news-detail.html">DETAY</a>
                                <a class="btn-up" href="./news-list.html"> Başa Dön</a>
                            </div>
                        </div>
                        <!-- item -->
                        <div class="swiper-slide">
                            <span class="number">03</span>
                            <div class="featured">
                                <div class="date">3 Saat Önce</div>
                                <div class="title">Lorem Ipsum is simply dummy text of the print and typesetting</div>
                                <div class="img">
                                    <img src="../assets/images/dummy/16x9/13.png" alt="">
                                </div>
                                <div class="description">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC...</div>
                                <a class="btn" href="./news-detail.html">DETAY</a>
                                <a class="btn-up" href="./news-list.html"> Başa Dön</a>
                            </div>
                        </div>
                        <!-- item adv -->
                        <div class="swiper-slide">
                            <span class="number">REKLAM</span>
                            <div class="featured">
                                <img src="../assets/images/dummy/adv/300x250/adv1.png" alt="" width="100%">
                            </div>
                        </div>
                        <!-- item -->
                        <div class="swiper-slide">
                            <span class="number">04</span>
                            <div class="featured">
                                <div class="date">3 Saat Önce</div>
                                <div class="title">Lorem Ipsum is simply dummy text of the print and typesetting</div>
                                <div class="img">
                                    <img src="../assets/images/dummy/16x9/14.png" alt="">
                                </div>
                                <div class="description">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC...</div>
                                <a class="btn" href="./news-detail.html">DETAY</a>
                                <a class="btn-up" href="./news-list.html">Başa Dön</a>
                            </div>
                        </div>
                        <!-- item -->
                        <div class="swiper-slide">
                            <span class="number">05</span>
                            <div class="featured">
                                <div class="date">3 Saat Önce</div>
                                <div class="title">Lorem Ipsum is simply dummy text of the print and typesetting</div>
                                <div class="img">
                                    <img src="../assets/images/dummy/16x9/15.png" alt="">
                                </div>
                                <div class="description">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC...</div>
                                <a class="btn" href="./news-detail.html">DETAY</a>
                                <a class="btn-up" href="./news-list.html"> Başa Dön</a>
                            </div>
                        </div>
                        <!-- item -->
                        <div class="swiper-slide">
                            <span class="number">06</span>
                            <div class="featured">
                                <div class="date">3 Saat Önce</div>
                                <div class="title">Lorem Ipsum is simply dummy text of the print and typesetting</div>
                                <div class="img">
                                    <img src="../assets/images/dummy/16x9/16.png" alt="">
                                </div>
                                <div class="description">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC...</div>
                                <a class="btn" href="./news-detail.html">DETAY</a>
                                <a class="btn-up" href="./news-list.html">Başa Dön</a>
                            </div>
                        </div>
                        <!-- item adv -->
                        <div class="swiper-slide">
                            <span class="number">REKLAM</span>
                            <div class="featured">
                                <img src="../assets/images/dummy/adv/300x250/adv1.png" alt="" width="100%">
                            </div>
                        </div>
                        <!-- item -->
                        <div class="swiper-slide">
                            <span class="number">07</span>
                            <div class="featured">
                                <div class="date">3 Saat Önce</div>
                                <div class="title">Lorem Ipsum is simply dummy text of the print and typesetting</div>
                                <div class="img">
                                    <img src="../assets/images/dummy/16x9/16.png" alt="">
                                </div>
                                <div class="description">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC...</div>
                                <a class="btn" href="./news-detail.html">DETAY</a>
                                <a class="btn-up" href="./news-list.html">Başa Dön</a>
                            </div>
                        </div>
                        <!-- item -->
                        <div class="swiper-slide">
                            <span class="number">08</span>
                            <div class="featured">
                                <div class="date">3 Saat Önce</div>
                                <div class="title">Lorem Ipsum is simply dummy text of the print and typesetting</div>
                                <div class="img">
                                    <img src="../assets/images/dummy/16x9/16.png" alt="">
                                </div>
                                <div class="description">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC...</div>
                                <a class="btn" href="./news-detail.html">DETAY</a>
                                <a class="btn-up" href="./news-list.html"> Başa Dön</a>
                            </div>
                        </div>
                        <!-- item -->
                        <div class="swiper-slide">
                            <span class="number">09</span>
                            <div class="featured">
                                <div class="date">3 Saat Önce</div>
                                <div class="title">Lorem Ipsum is simply dummy text of the print and typesetting</div>
                                <div class="img">
                                    <img src="../assets/images/dummy/16x9/16.png" alt="">
                                </div>
                                <div class="description">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC...</div>
                                <a class="btn" href="./news-detail.html">DETAY</a>
                                <a class="btn-up" href="./news-list.html"> Başa Dön</a>
                            </div>
                        </div>
                        <!-- item -->
                        <div class="swiper-slide">
                            <span class="number">10</span>
                            <div class="featured">
                                <div class="date">3 Saat Önce</div>
                                <div class="title">Lorem Ipsum is simply dummy text of the print and typesetting</div>
                                <div class="img">
                                    <img src="../assets/images/dummy/16x9/16.png" alt="">
                                </div>
                                <div class="description">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC...</div>
                                <a class="btn" href="./news-detail.html">DETAY</a>
                                <a class="btn-up" href="./news-list.html"> Başa Dön</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    <script src="../assets/js/vendors/swiper/swiper-7.3.1.min.js"></script>
    <script src="../assets/js/pages/news-list.min.js"></script>
</body>

</html>